{#
|
| Pagination
|-------------
#}
{% macro pagination(params) %}
	{% set pagination = params.pagination %}
	{% set prev = params.prev ? params.prev : 'prev' %}
	{% set next = params.next ? params.next : 'next' %}

	<ul class="pagination-container">
        {#
        |
        | Prev
        |-------
        #}
		{% if pagination.prev %}
			{% set link = pagination.prev.link %}
			<li><a href="{{ link }}">{{ prev }}</a></li>
		{% endif %}

        {#
        |
        | Pages
        |--------
        #}
		{% for page in pagination.pages %}
			<li>
				{% if page.link %}
					<a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
				{% else %}
					<span class="{{ page.class }}">{{ page.title }}</span>
				{% endif %}
			</li>
		{% endfor %}

        {#
        |
        | Next
        |-------
        #}
		{% if pagination.next %}
			{% set link = pagination.next.link %}
			<li/><a href="{{ link }}">{{ next }}</a></li>
		{% endif %}
	</ul>
{% endmacro %}


{# 
|
| Card block
|-------------
#}
{% macro card(params) %}
	{% set link    = params.link %}
	{% set image   = params.image %}
	{% set date    = params.date %}
	{% set title   = params.title %}
	{% set content = params.content %}
	{% set terms   = params.terms %}

	<article class="custom-card">
        <a href="{{ link }}" title="{{ title }}" class="custom-card-link">
            <div class="card-img-container">
                <div class="card-img bg-cover" style="background-image: url('{{ image }}')"></div>
            </div>
            <div class="card-content md-up-pr-lg pt-md">
                <span class="fs-xs ls-xs mb-sm">{{ date }}</span>
                <h2>{{ title }}</h2>
            </div>
        </a>
	</article>
{% endmacro %}


{# 
|
| Banner
|---------
#}
{% macro banner(params) %}
    {% set classes = params.classes  %}
    {% set image   = params.image  %}
    {% set title   = params.title  %}
    {% set content = params.content %}

    <section class="banner {{ classes }}" style="background-image: url('{{ image }}')" data-kira-timeline-onload>
        <div class="item-content">
            <div class="container">
                <h1 class="title-xxl item-title mb-md c-white" {# data-kira-item="splitline" data-splittext="lines, words, chars"  data-start="0.2" #}>{{ title }}</h1>
                <div class="item-text" data-kira-item="fadeInUp" data-start="-=1">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="cms c-white">
                                {{ content }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endmacro %}