{% set menuPrimary = menu.primary.get_items %}

{#
|
| Header
|---------
#}
<header id="header" class="c-white" data-kira-timeline-onload="data-kira-timeline-onload">
   
     <div class="header-container" class="pt-xs pb-xs pl-md pr-md row">
        <button class="btn-menu">
            <span class="item-burger">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </button>
    </div>
</header>

{#
|
| Panel display - Start
|---------
#}
<div class="row">
    <div id="detection-panel" class="c-white pl-md col-md-6 col-xs-12">
        <div class="row">
            <div id="voice-status" class="mr-xs p-xs"><i id="mic" class="fal fa-microphone"></i> <span class="outputshort">Press "M"/click here to speak. </span><span class="output" style="display:none;">Press "M"/click here to speak and go to the section.</span><span id="menu" style="display:none;"> Tell us what you want to see:  <a href="#positionmanifesto" class="link-very-light-grey">MANIFESTO</a> | <a href="#positionabout" class="link-very-light-grey">ABOUT</a> | <a href="#positioncontact" class="link-very-light-grey">CONTACT</a> | <a href="#positioninnovations" class="link-very-light-grey">INNOVATIONS</a></span></div>
            <div id="btn-head" class="mr-xs p-xs"><i class="fal fa-eye mr-xs"></i> <span id="btn-head-start" style="display:;"><i class="fal fa-toggle-off"></i></span> <span id="btn-head-stop"><i class="fal fa-toggle-on"></i></span></div>
        </div>    
    </div>
</div>
{# 
|
| Panel display - End
|--------------
#}

{#
|
| Mobile Menu
|--------------
#}
<div id="mobile-menu">
    <div class="item-container">
        <ul>
            {% for item in menuPrimary %}
                    <li class="{{ item.classes | join(' ') }}" data-stagger-item>
                        <a class="item-link" href="{{item.link}}">{{item.title}}</a>
                        {% if item.get_children %}
                            <ul class="nav-drop">
                                {% for child in item.get_children %}
                                <li><a href="{{child.link}}">{{child.title}}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
        </ul>
    </div>

    <div class="item-socials-container" data-stagger-item>
        <div class="container">
            <div class="item-socials">
                <a href="#" class=""><i class="fab fa-facebook-f"></i></a>
                <a href="#" class=""><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
</div>