{% set menuPrimary = menu.primary.get_items %}

{#
|
| Header
|---------
#}
<header id="header" data-kira-timeline-onload>
    <div class="header-container" data-kira-item="fadeInUp.stagger.sm">
        <div data-stagger-item>
            <a href="{{ function('home_url') }}" class="item-logo">
                {{ function([services, 'svg'], img ~ '/icon/logo.svg') }}
            </a>
        </div>
        <nav class="item-nav">
            <ul class="item-menu">
                {% for item in menuPrimary %}
                    <li class="{{ item.classes | join(' ') }}" data-stagger-item>
                        <a class="item-link" href="{{item.link}}">{{item.title}}</a>
                        
                        {% if item.get_children %}
                            <ul class="nav-drop">
                                {% for child in item.get_children %}
                                <li><a href="{{child.link}}">{{child.title}}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

            <div class="lang-container" data-stagger-item>
                {% for language in languages %}
                    {% if language.active == 1 %}
                        <span class="active lang-item">{{ language.code }}</span> 
                    {% else %}
                        <ul data-stagger-item>
                            <li>
                                <a class="item-lang" href="{{ language.url }}">{{ language.code }}</a>
                            </li>
                        </ul>
                    {% endif %}
                {% endfor %}
            </div>
        </nav>
        
        <button class="btn-menu">
            <span class="item-burger">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </button>
    </div>
</header>

{#
|
| Mobile Menu
|--------------
#}
<div id="mobile-menu">
    <div class="item-container">
        <ul>
            {% for item in menuPrimary %}
                    <li class="{{ item.classes | join(' ') }}" data-stagger-item>
                        <a class="item-link" href="{{item.link}}">{{item.title}}</a>
                        {% if item.get_children %}
                            <ul class="nav-drop">
                                {% for child in item.get_children %}
                                <li><a href="{{child.link}}">{{child.title}}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
        </ul>
    </div>

    <div class="item-socials-container" data-stagger-item>
        <div class="container">
            <div class="item-socials">
                <a href="#" class=""><i class="fab fa-facebook-f"></i></a>
                <a href="#" class=""><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
</div>