{% extends 'layout.twig' %}

{% block content %}
    <div id="page-news-single" class="page-offset">

        {#
        |
        | Back btn
        |-----------------
        #}
        <div class="back-btn-container pt-xl">
            <div class="container">
                <a href="{{ blog_page_url }}" class="c-grey fs-xs tt-u">Retour aux actualités</a>
            </div>
        </div>
    
        {#
        |
        | Post meta
        |-----------------
        #}
        <section class="section pb-0 md-up-pt-xxl">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10">
                        <div class="row">
                            <div class="col-xl-12">
                                <h1 class="title-xl">{{ post.title }}</h1>
                            </div>
                        </div>
                        <div class="row mt-md md-up-mt-xxl">
                            <div class="col-xl-3 md-down-mb-sm">
                                <span class="post-date">{{ post.date|date('d F Y') }}</span>
                            </div>
                            <div class="col-xl-9">
                                <div class="post-excerpt">
                                    {{ post.post_excerpt }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-11 mt-xl">
                        <div class="bg-img-landscape-sm" style="background-image: url('{{ post.thumbnail.src }}')"></div>
                    </div>
                </div>
            </div>
        </section>

        {#
        |
        | Post content
        |-----------------
        #}
        <section class="section pb-0">
            <div class="container">
                <div class="col-xl-8 offset-xl-3">
                    <div class="cms fs-md">
                        {{ post.content }}
                    </div>
                </div>
            </div>
        </section>
        
    </div>

{% endblock %}
